<div class="banner" style="background-image: linear-gradient(-225deg, rgb(160, 10, 10) 0%, rgba(50,36,61,0.6) 50%), url('https://www.do-it-abroad.com/wp-content/uploads/2017/02/Sans-titre.png');">
  <div class="banner-content">
    <h1>Do It Abroad</h1>
    <p>Lorem ipsum</p>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <%= link_to "Etudier à l'étranger", new_wish_path, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
